## If, Elif and Else

In [1]:
if True:
    print("IT'S TRUE!")

IT'S TRUE!

In [2]:
if 3 > 2:
    print("IT'S TRUE!")

IT'S TRUE!

In [6]:
hungry = False

if hungry:
    print("Feed me!")
else:
    print("I'm not hungry")

I'm not hungry

In [13]:
loc = "Game"

if loc == "Auto Shop":
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool!")
elif loc == "Store":
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [14]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie!")
elif name == "Sammy":
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Sammy!

## Foor loops

In [24]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [25]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [26]:
for jelly in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [28]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number: {num}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [30]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [31]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [32]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [33]:
for abc in "Hello World":
    print(abc)

H
e
l
l
o

W
o
r
l
d

In [34]:
for _ in "12345":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!

In [35]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [36]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [37]:
len(mylist)

4

In [38]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [39]:
for (a,b) in mylist: # Parenthesis are not required, but recommended
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [44]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [45]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [47]:
for a,b,c in mylist:
    print(a+b+c)

6
18
27

In [52]:
d = {"k1":1, "k2":2, "k3":3}

for item in d:
    print(item)
    print(d[item])

k1
1
k2
2
k3
3

In [53]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [54]:
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

## While Loops

In [56]:
iterator = 0
condition = True

while condition:
    if iterator >= 10:
        print("Updating the condition")
        condition = False
    else:
        print("Still not true")
        iterator = iterator + 1
else:
    print("I've finished")

Still not true
Still not true
Still not true
Still not true
Still not true
Still not true
Still not true
Still not true
Still not true
Still not true
Updating the condition
I've finished

In [5]:
x = 0

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("x is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

#### Break, continue and pass

In [7]:
x = [1,2,3]

for num in x:
    pass # This keyword is used as a placeholder, in order to avoid the code to fail

print("End of my script")

End of my script

In [10]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        continue # This will force the code to continue with the next iteration of the loop, without executing the remaining code within the loop
    print(letter)

S
m
m
y

In [11]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        break # This will force the code to stop the loop, without executing the remaining code within the loop
    print(letter)

S

In [14]:
iterator = 0

while True:
    if iterator == 5:
        print("End of the code, now time to break")
        break
    else:
        print(iterator)
        iterator += 1

0
1
2
3
4
End of the code, now time to break

## Useful operators

In [1]:
mylist = [1,2,3,4,5]

In [2]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [3]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [4]:
for num in range(1,6,2):
    print(num)

1
3
5

In [6]:
range(1,6)

range(1, 6)

In [7]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [8]:
index_count = 0
word = "abcde"

for letter in word:
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
word = "abcde"

for item in enumerate(word):
    print(item)

for index, letter in enumerate(word):
    print(f"At index {index} the letter is {letter}")

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = ['x','y','z']

In [22]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)
    
for item_list1, item_list2, item_list3 in zip(mylist1, mylist2, mylist3):
    print(item_list1)
    print(item_list2)
    print(item_list3)

(1, 'a', 'x')
(2, 'b', 'y')
(3, 'c', 'z')
1
a
x
2
b
y
3
c
z

In [23]:
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'n' in 'Manuel'

True

In [26]:
'm' in 'Manuel'.lower()

True

In [27]:
'mykey' in {'mykey':345}

True

In [29]:
d = {'mykey':345}

print(f"Result 1: {345 in d.values()}")
print(f"Result 2: {345 in d.keys()}")

Result 1: True
Result 2: False

In [30]:
mylist = [10,20,30,40,100]

In [31]:
min(mylist)

10

In [32]:
max(mylist)

100

In [33]:
from random import shuffle

In [34]:
mylist = list(range(1,11))

In [35]:
shuffle(mylist)

In [36]:
mylist

[3, 9, 6, 7, 2, 10, 4, 1, 8, 5]

In [37]:
shuffle(mylist)

In [38]:
mylist

[2, 6, 8, 10, 7, 3, 4, 5, 9, 1]

In [39]:
shuffle_result = shuffle(mylist)
print(shuffle_result)
print(type(shuffle_result))

None
<class 'NoneType'>

In [40]:
mylist

[1, 9, 3, 10, 4, 5, 2, 7, 8, 6]

In [41]:
from random import randint

In [43]:
randint(0,100)

93

In [44]:
randint(0,100)

55

In [45]:
mynum = randint(0,10)

In [46]:
print(mynum)

5

In [48]:
result = int(input('Enter a number here: '))

Enter a number here: 50

In [49]:
print(result)
print(type(result))

50
<class 'int'>

## List Comprehensions

In [50]:
mystring = "hello"

In [51]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [52]:
mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
newlist = [letter for letter in mystring]

In [54]:
newlist

['h', 'e', 'l', 'l', 'o']

In [55]:
squarelist = [x**2 for x in range(11)]

In [56]:
squarelist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
evenlist = [x for x in range(11) if x % 2 == 0]

In [63]:
print(f"evenlist: {evenlist}")

evenlist: [0, 2, 4, 6, 8, 10]

In [59]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [((9/5) * temp + 32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [60]:
results = [x if x % 2 == 0 else 'ODD' for x in range(11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [64]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
        
print(mylist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [66]:
[x*y for x in [2,4,6] for y in [1,10,100]]

[2, 20, 200, 4, 40, 400, 6, 60, 600]